.para

.lentele-1 th, .lentele-1 .th {
    background-color: yellow;
    width: 250px;
    height:100px;

}
.lentele-1 th, .lentele-1 .th {
    background-color: green;
    width: 250px;
    height:100px;
}
.lentele-1 th, .lentele-1 .th {
    background-color: red;
    width: 250px;
    height:100px;
}